<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
    <ion-title>option</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="cardSkin1">
    <ion-card-header>
      <ion-card-title (click)="movePost()">名前でさがす</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card id="cardSkin1">
    <ion-card-header>
      <ion-card-title (click)="spitMessage()">材料でさがす</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
