<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="containerSkinA">
    <ion-button expand="full" size="large" (click)='push(pushpage1);'>レシピを検索する</ion-button>
  </div>

  <div>
    <h3 id='titleText'>今日のおすすめ</h3>
  </div>
  <div>
    <h3 id='titleText'>ランキング</h3>
    <ion-slides>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>リアルタイム·ベスト</ion-card-title>
            <ion-card-subtitle>現在人気のレセピを見る</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let i of item1">{{i}}</ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
